body {
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.link {
  color: #b7b7b7;
  font-family: Arial, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  
  position: absolute;
  top: 30px;

  transition: .5s;
  animation-delay: 1s;
}

.link:hover {
  color: #4545ff;
}

.container {
  position: relative;
  margin: 100px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  position: relative;
  width: 400px;
  height: 400px;
  border: 10px solid transparent;
  border-radius: 50%;
  border-top: 10px solid #40eefb;

  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.circle::before {
  content: '';
  position: absolute;
  top: 30px;
  left: 305px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #40eefb;

  box-shadow: 0 0 0 5px rgba(64, 238, 251, 0.5),
  0 0 0 10px rgb(64, 238, 251, 0.5),
  0 0 0 20px rgb(64, 238, 251, 0.3),
  0 0 20px #40eefb,
  0 0 50px #40eefb;
}


.container .circle:nth-child(2) {
  margin-left: -150px;
  border: 10px solid transparent;
  border-right: 10px solid #ffa500;
  animation: rotate-2 2s infinite linear;
}

.container .circle:nth-child(2)::before {
  background: rgb(255, 106, 0);
  
  box-shadow: 0 0 0 5px rgba(255, 106, 0, 0.5),
  0 0 0 10px rgb(255, 106, 0, 0.5),
  0 0 0 20px rgb(255, 106, 0, 0.3),
  0 0 20px rgb(255, 106, 0),
  0 0 50px rgb(255, 106, 0);
}

@keyframes rotate-2 {
  100% {
    transform: rotate(-360deg);
  }
}

.container .circle:nth-child(3) {
  position: absolute;
  top: -150px;

  border: 10px solid transparent;
  border-bottom: 10px solid rgb(255, 18, 97);
}

.circle:nth-child(3)::before{
  top: 310px;
  left: 35px;
  background: rgb(255, 18, 97);

  box-shadow: 0 0 0 5px rgba(255, 18, 97, 0.5),
  0 0 0 10px rgb(255, 18, 97, 0.5),
  0 0 0 20px rgb(255, 18, 97, 0.3),
  0 0 20px rgb(255, 18, 97),
  0 0 50px rgb(255, 18, 97);
}

.loading {
  color: rgb(183, 183, 183);
  font-family: Arial, sans-serif;
  font-size: 40px;
  letter-spacing: 2px;

  position: absolute;
  bottom: -150px;
}

.loading::first-letter{
  text-transform: uppercase;
}