body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  overflow: hidden;
}

.test {
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;

  animation: test .5s forwards;
}

@keyframes test {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.link {
  position: absolute;
  top: 20px;
  z-index: 3;

  color: #b7b7b7;
  text-transform: uppercase;
  font-size: 32px;

  transition: .5s;
  animation-delay: 1s;
}

.link:hover {
  color: #4545ff;
}

.wrapper {
  width: 200px;
  height: 200px;

  transform-style: preserve-3d;
  transform: rotateX(-30deg);
}

.cube {
  position: absolute;
  top: 150px;
  left: 0;
  width: 200px;
  height: 200px;
  
  transform-style: preserve-3d;
  animation: cube 5s infinite linear;
}

@keyframes cube {
  100% {
    transform: rotateY(360deg);
  }
}

.side {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;

  background: 
     linear-gradient(180deg,
    hsl(233deg 94% 7%) 0%,
    hsl(234deg 92% 10%) 9%,
    hsl(232deg 94% 13%) 17%,
    hsl(233deg 92% 15%) 24%,
    hsl(232deg 91% 18%) 32%,
    hsl(234deg 93% 21%) 39%,
    hsl(237deg 95% 24%) 46%,
    hsl(240deg 97% 27%) 52%,
    hsl(242deg 99% 30%) 59%,
    hsl(243deg 100% 34%) 65%,
    hsl(242deg 100% 39%) 71%,
    hsl(241deg 100% 44%) 77%,
    hsl(239deg 100% 48%) 82%,
    hsl(238deg 100% 53%) 87%,
    hsl(238deg 100% 55%) 91%,
    hsl(237deg 100% 57%) 95%,
    hsl(237deg 100% 59%) 98%,
    hsl(236deg 100% 61%) 100%);
}

.front {
  transform: translateZ(100px);
}
.back {
  transform: rotateY(180deg) translateZ(100px);
}
.right {
  transform: rotateY(90deg) translateZ(100px);
}
.left {
  transform: rotateY(-90deg) translateZ(100px);
}
.top {
  background: #00031a;
  transform: rotateX(90deg) translateZ(100px);
}
.bottom {
  transform: rotateX(-90deg) translateZ(100px);
  transform-style: preserve-3d;
}

.bottom::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background: rgb(0, 0, 255);
  filter: blur(20px);
  
  box-shadow: 
  0 0 120px rgba(0, 0, 255, 0.2),
  0 0 120px rgba(0, 0, 255, 0.4),
  0 0 120px rgba(0, 0, 255, 0.6),
  0 0 120px rgba(0, 0, 255, 0.8),
  0 0 120px rgba(0, 0, 255, 1);

  transform: translateZ(70px);
}


/* ================GREEN CUBE================ */
.cube-green {
  position: absolute;
  top: -250px;
  left: -500px;

}

.cube-green-side {
  background: 
          linear-gradient(180deg,
        hsl(133deg 100% 5%) 4%,
        hsl(114deg 76% 7%) 19%,
        hsl(113deg 88% 9%) 28%,
        hsl(116deg 100% 11%) 36%,
        hsl(118deg 92% 15%) 44%,
        hsl(116deg 96% 19%) 51%,
        hsl(113deg 100% 23%) 58%,
        hsl(114deg 100% 28%) 65%,
        hsl(115deg 100% 33%) 71%,
        hsl(116deg 100% 39%) 78%,
        hsl(117deg 81% 47%) 85%,
        hsl(118deg 84% 54%) 92%,
        hsl(118deg 100% 60%) 100%);
}

.top.cube-green-side {
  background: rgb(0, 13, 3);
}

.bottom.cube-green-side::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background: rgb(0, 255, 0);
  filter: blur(20px);

  box-shadow:
    0 0 120px rgba(0, 255, 0, 0.2),
    0 0 120px rgba(0, 255, 0, 0.4),
    0 0 120px rgba(0, 255, 0, 0.6),
    0 0 120px rgba(0, 255, 0, 0.8),
    0 0 120px rgba(0, 255, 0, 1);

  transform: translateZ(70px);
}

/* ================VIOLET CUBE================ */

.cube-violet {
  position: absolute;
  top: -250px;
  left: 500px;
}

.cube-violet-side {
  background: 
        linear-gradient(180deg,
        hsl(304deg 100% 6%) 3%,
        hsl(296deg 78% 10%) 20%,
        hsl(293deg 89% 13%) 29%,
        hsl(290deg 100% 16%) 38%,
        hsl(291deg 99% 20%) 45%,
        hsl(293deg 99% 23%) 52%,
        hsl(294deg 100% 26%) 59%,
        hsl(294deg 100% 32%) 66%,
        hsl(293deg 100% 38%) 72%,
        hsl(293deg 100% 44%) 79%,
        hsl(295deg 100% 44%) 85%,
        hsl(297deg 100% 44%) 92%,
        hsl(299deg 100% 44%) 100%);
}

.top.cube-violet-side {
  background: rgb(21, 0, 20);
}

.bottom.cube-violet-side::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background: rgb(196, 0, 222);
  filter: blur(20px);

  box-shadow:
    0 0 120px rgba(196, 0, 222, 0.2),
    0 0 120px rgba(196, 0, 222, 0.4),
    0 0 120px rgba(196, 0, 222, 0.6),
    0 0 120px rgba(196, 0, 222, 0.8),
    0 0 120px rgba(196, 0, 222, 1);

  transform: translateZ(70px);
}