body {
  overflow: hidden;
  background: #ffffff;
}

.snow {
  width: 100%;
  height: 100%;
  background: url(../images/snow.png) 0 0 / 200px 200px repeat;
  mix-blend-mode: screen;
  position: absolute;
  z-index: 2;

  animation: snow 6s linear infinite;
}


@keyframes snow {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0 200px;
  }
}


.snow-fast {
  animation: snowFast 4s linear infinite;
}

@keyframes snowFast {
  from {
    background-position: 0 0;
  }
  
  to {
    background-position: 0 200px;
  }
}



/* FLAG */

.flag {
  box-sizing: border-box;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list li {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 60px;
  line-height: 1.5;
  margin-right: 10px;

  text-shadow: 0.006em 0.006em 0.007em #B80000,
    1px 1px 1px #B80000,
    1px 2px 1px #FA0000,
    1px 3px 1px #FA0000,
    1px 4px 1px #FF5D5D,
    1px 5px 1px #FF5D5D,
    1px 6px 1px #FF8787,
    1px 7px 1px #FF8787,
    1px 8px 1px #FFB4B4,
    1px 9px 1px #FFB4B4,
    1px 10px 1px #9c9c9c,
    1px 11px 1px #9c9c9c,
    1px 12px 1px #9c9c9c,
    1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.4),
    1px 26px 35px rgba(16, 16, 16, 0.4),
    1px 30px 65px rgba(16, 16, 16, 0.4);

  animation: flag 1s infinite ease-in-out;
  animation-delay: calc(0.1s * var(--i));
}

.list li:nth-child(4) {
  margin-right: 40px;
}

.list li:last-child {
  margin-right: 0;
}

.list a {
  color: #ff0000;
}

@keyframes flag {

  0%,
  100% {
  transform: translateY(0);
  text-shadow: 0.006em 0.006em 0.007em #B80000,
    1px 1px 1px #B80000,
    1px 2px 1px #FA0000,
    1px 3px 1px #FA0000,
    1px 4px 1px #FF5D5D,
    1px 5px 1px #FF5D5D,
    1px 6px 1px #FF8787,
    1px 7px 1px #FF8787,
    1px 8px 1px #FFB4B4,
    1px 9px 1px #FFB4B4,
    1px 10px 1px #9c9c9c,
    1px 11px 1px #9c9c9c,
    1px 12px 1px #9c9c9c,
    1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.4),
    1px 26px 35px rgba(16, 16, 16, 0.4),
    1px 30px 65px rgba(16, 16, 16, 0.4);
  }

  50% {
  transform: translateY(-10px);
  text-shadow: 0.006em 0.006em 0.007em #B80000,
    1px 1px 1px #B80000,
    1px 2px 1px #FA0000,
    1px 3px 1px #FA0000,
    1px 4px 1px #FF5D5D,
    1px 5px 1px #FF5D5D,
    1px 6px 1px #FF8787,
    1px 7px 1px #FF8787,
    1px 8px 1px #FFB4B4,
    1px 9px 1px #FFB4B4,
    1px 10px 1px #9c9c9c,
    1px 11px 1px #9c9c9c,
    1px 12px 1px #9c9c9c,
    1px 38px 26px rgba(16, 16, 16, 0.4),
    1px 42px 30px rgba(16, 16, 16, 0.4),
    1px 46px 65px rgba(16, 16, 16, 0.4),
    1px 50px 95px rgba(16, 16, 16, 0.4);
  }
}



/* NAVIGATION */

.nav-wrapper {
  width: 600px;
  margin: 0 auto;
  position: relative;
  top: 30px;
}

.nav {
  position: relative;
  z-index: 3;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  display: inline-block;
  padding: 5px 40px;

  background:red linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(125, 185, 232, 0) 100%);
  color: rgba(0, 0, 0, 0.4);
  border: 3px solid #ff0000;
  border-radius: 20px;
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  cursor: pointer;

  transition: .5s;
}

.nav a:hover {
  background: rgb(52, 138, 52);
  color: #c9dc21;
  transform: scale(1.1);
}



/* CITY */

.city {
  background: url(../images/background.jpg) 0 135px / cover no-repeat fixed;
  width: 100%;
  height: 100%;
  position: relative;
}

.city::before {
  content: '';
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;

  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(125, 185, 232, 0) 100%);
}